@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-accent: #eab308;
  --color-accent-dark: #ca8a04;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
